
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="{% static 'img/favicon.jpg' %}">
    <title>{% block title %}SEC2SKY{% endblock title %}</title>

    <!-- Bootstrap + FontAwesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <a class="brand" href="/"><img src="{% static 'img/logo_white.png' %}" height=50px></a>
      </div>
      <div class="mx-auto order-0">
        <span class="d-none circled">0</span>
        <span class="badge badge-success" style="padding: 1em">NO ALERTS</span>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/settings"><i class="fa fa-bell fa-fw nav-link"></i><strong> ALERTS</strong></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/setings/"><i class="fa fa-user fa-fw"></i>  <strong>SETTINGS</strong></a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user fa-fw"></i>  <strong>Account</strong>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a href="#"><i class="fa fa-user fa-fw"></i> Profile</a>
                      </li>
                      <li><a href=" /config"><i class="fa fa-gear fa-fw"></i> Config general</a>
                      </li>
                      <li><a href="/config/devices"><i class="fa fa-gear fa-fw"></i> Config devices</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="/accounts/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </nav>

    <div id="wrapper" class="bg-white">

<!--END OF NAVIGATION BLOCK -->

<!-- START OF PAGE CONTENT BLOCK -->

        {% block content %}
            OPS! error en integración de plantillas con Base...
        {% endblock content %}
    </div>



    <!-- JQuery/Bootstrap/Popper-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>

    <script src="{% static 'js/cookie_mgr.js' %}"></script>

</body>

</html>
