
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="{% static 'img/favicon.jpg' %}">
    <title>{% block title %}SEC2SKY{% endblock title %}</title>

    <!-- Bootstrap + FontAwesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style type="text/css">
      .sidebar a{
        color: lightgray;
      }
      .sidebar a:hover{
        color: white;
      }

    /*
      html, body, .container-fluid, .row {
          height: 100%;
      }

      .sidebar {
        background-color: #CCCCCC;
      }

      .navbar {
        height: 70px;
      }

      @media (min-width: 992px) {
        .sidebar {
          position: fixed;
          top: 70px;
          left: 0;
          bottom: 0;
          z-index: 1000;
          display: block;
          background-color: #CCCCCC;
        }
      }
      /**/
    </style>

    {% block header_page %}
    {% endblock header_page %}

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <a class="brand" href="/"><img src="{% static 'img/logo_white.png' %}" height=50px></a>
      </div>
      <div class="mx-auto order-0">
        <span class="d-none circled">0</span>
        <span class="badge badge-success" style="padding: 1em">NO ALERTS</span>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/setings/"><i class="fa fa-bell fa-fw"></i>  <strong>ALERTS</strong></a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="/setings/"><i class="fa fa-user fa-fw"></i>  <strong>SETTINGS</strong></a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user fa-fw"></i>  <strong>ACCOUNT</strong>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a href="#"><i class="fa fa-user fa-fw"></i> Profile</a>
                      </li>
                      <li><a href=" /config"><i class="fa fa-gear fa-fw"></i> Config general</a>
                      </li>
                      <li><a href="/config/devices"><i class="fa fa-gear fa-fw"></i> Config devices</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="/accounts/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </nav>




    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <i class="fa fa-dashboard fa-fw"></i>
                  Detections <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>


            <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Current month
                </a>
              </li>
            </ul> -->
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          {% block content %}
              OPS! error en integración de plantillas con Base...
          {% endblock content %}
        </main>

      </div>

  </div>


    <!-- JQuery/Bootstrap/Popper-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <script src="{% static 'js/cookie_mgr.js' %}"></script>

    {% block footer_page %}
    {% endblock footer_page %}

</body>

</html>
