{% extends 'dronetrap/base.html' %}
{% load static %}

{% block header_page %}
  <style type="text/css">
    .border-right {
        border-right: 3px solid #212529!important;
    }
  </style>
{% endblock header_page %}

{% block content %}

<div class="row fullheight" >
 <div class="col-lg-12">
     <div class="row">
       <div class="col-sm-2 border-right">
          <div class="text-right"><img src="{% static 'img/account.png' %}" height=100px></div>
         <div class="text-right">Manage User and Setting Profile</div>
       </div>
       <div class="col-sm-6">
         <h1>User Profile</h1>
         <form>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" value="email@example.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <select class="form-control" id="exampleFormControlSelect1">
                <option value="viewer">Viewer</option>
                <option value="operator">Operator</option>
                <option value="configurator">Configurator</option>
                <option value="administrator">Administrator</option>
                <option value="empowered">empowered</option>
              </select>            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Token</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" placeholder="b5b0931e-de5b-408b-a12b-b93103d2bd1f" readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="text-center">
              <button type="button" class="btn btn-secondary">Generate New Token</button>
            </div>
          </div>
        </form>
       </div>
     </div>
  </div>
</div>


{% endblock content %}

{% block footer_page %}


{% endblock footer_page %}
