{% extends 'dronetrap/base.html' %}
{% load static %}

{% block header_page %}
  <style type="text/css">
    .border-right {
        border-right: 3px solid #212529!important;
    }
  </style>



{% endblock header_page %}

{% block content %}
{% verbatim %}

<div class="row fullheight" >
 <div class="col-lg-12">
     <div class="row">
       <div class="col-sm-2 border-right">
          <div class="text-right"><i class="fa fa-broadcast-tower fa-5x"></i></div>
         <div class="text-right">Sensor Information and Details</div>
       </div>
       <div id="sensor-detail" class="col-sm-6 invisible">
         <h1>Sensor Details</h1>
         <form>
          <div class="form-group row">
            <label for="device-id" class="col-sm-2 col-form-label">DeviceID</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" id="device-id" value="">
            </div>
          </div>
          <div class="form-group row">
            <label for="device-id" class="col-sm-2 col-form-label">SerialNum</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" id="serial-num" value="">
            </div>
          </div>
          <div class="form-group row">
            <label for="device-id" class="col-sm-2 col-form-label">Model</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" id="model" value="">
            </div>
          </div>
          <div class="form-group row">
            <label for="device-id" class="col-sm-2 col-form-label">Energy</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" id="energy" value="">
            </div>
          </div>
          <div class="form-group row">
            <label for="device-id" class="col-sm-2 col-form-label">Version</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" id="version" value="">
            </div>
          </div>
          <div class="form-group row">
            <label for="device-id" class="col-sm-2 col-form-label">Available</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" id="available" value="">
            </div>
          </div>
        </form>
       </div>
     </div>


     <div class="row mt-5">

       <div class="offset-lg-1 col-lg-10">
         <h3>Sensor Status</h3>
         <table class="table table-striped table-hover mt-2 table-sec2sky text-center table-status">
          <thead class="bg-secondary text-light">
            <tr>
              <th scope="col" style="width:15%">Timestamp</th>
              <th scope="col" style="width:15%">Coordinates</th>
              <th scope="col" style="width:15%">[Wifi/RF0/RF1]</th>
              <th scope="col" style="width:15%">GPS</th>
              <th scope="col" style="width:15%">CPU</th>
              <th scope="col" style="width:15%">RAM</th>
              <th scope="col" style="width:15%">DISK</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

        </div>
     </div>


     <div class="row mt-5">

       <div class="offset-lg-1 col-lg-10">
         <h3>Sensor Detection</h3>
         <table class="table table-striped table-hover mt-2 table-sec2sky text-center table-detection">
          <thead class="bg-secondary text-light">
            <tr>
              <th scope="col" style="width:15%">Timestamp</th>
              <th scope="col" style="width:15%">Description</th>
              <th scope="col" style="width:15%">Thread</th>
              <th scope="col" style="width:15%">Home</th>
              <th scope="col" style="width:15%">Coordinates</th>
              <th scope="col" style="width:15%">RSSI/SignalType</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          </table>

        </div>
     </div>

  </div>
</div>

{% endverbatim %}
{% endblock content %}

{% block footer_page %}
  <!-- Loading Overlay -->
  <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>

  <script type="text/javascript">

    $(document).ready(function () {

      // Retreive Sensor Detail
      const id = URLMgr.get_query_variable('id')
      APIMgr.get_model("/api/sensor/", id, function(data){
        $('#device-id').val(data.device_id)
        $('#serial-num').val(data.serial_num)
        $('#model').val(data.model)
        $('#energy').val(data.energy)
        $('#version').val(data.version)
        $('#available').val(data.available)
        $('#token').val(data.token)

        // Hide Loading
        setTimeout(function(){
          $("#sensor-detail").LoadingOverlay("hide");
          $("#sensor-detail").removeClass("invisible");
        }, 500);
      })
      // Show loading overlay
      $("#sensor-detail").LoadingOverlay("show");


      APIMgr.request_model(`/api/sensor/${id}/status/`, "GET", undefined, function(data){
        for (item of data) {
          const table_template = `<tr>` +
            `<td scope="row">${item.created_at}</td>` +
            `<td>${item.latitude} - ${item.longitude}</td>` +
            `<td>${item.wifi_status} - ${item.rf0_status} - ${item.rf1_status}</td>` +
            `<td>${item.gps_sats} - ${item.gps_status}</td>` +
            `<td>${item.cpu}% - ${item.temp}ºC</td>` +
            `<td>${item.ram_free} - ${item.ram_total}</td>` +
            `<td>${item.disk_percent}%</td>` +
          `</tr>`;
          $(".table-status tbody").append(table_template)
        }
      })

      APIMgr.request_model(`/api/sensor/${id}/detection/`, "GET", undefined, function(data){
        for (item of data) {
          const table_template = `<tr>` +
            `<td scope="row">${item.created_at}</td>` +
            `<td>${item.description}</td>` +
            `<td>${item.thread_id}</td>` +
            `<td>${item.home_latitude} - ${item.home_longitude}</td>` +
            `<td>${item.latitude} - ${item.longitude}</td>` +
            `<td>${item.rssi} - ${item.signal_type}</td>` +
          `</tr>`;
          $(".table-detection tbody").append(table_template)
        }
      })

    });
  </script>
{% endblock footer_page %}
