{% extends 'dronetrap/base.html' %}
{% load static %}

{% block header_page %}

{% endblock header_page %}
{% block content %}

<div class="row fullheight" >
 <div class="offset-lg-1 col-lg-10">

   <div class="text-right">
     <button type="button" data-toggle="modal" data-target="#edit" data-uid="-1" class="btn create btn-info" disabled><i class="fa fa-plus"></i> Add New</button>
   </div>

   <table class="table table-striped table-hover mt-2 table-sec2sky text-center table-sensor">
    <thead class="bg-secondary text-light">
      <tr>
        <!-- <th scope="col" style="width:5%">ID</th> -->
        <th scope="col" style="width:10%">DeviceID</th>
        <th scope="col" style="width:15%">SerialNum</th>
        <th scope="col" style="width:15%">Model</th>
        <th scope="col" style="width:30%">Swarm</th>
        <th scope="col" class="text-right" style="width:10%">Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    </table>

  </div>
</div>

<div id="confirm" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-secondary">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close close-button" data-dismiss="modal"><i class="fa fa-times fa-fw"></i></button>
      </div>
      <div class="modal-body">
        <strong>Are you sure you want to assign <span id="sensor-selected"></span> to <span id="swarm-selected"></span>?</strong>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-save" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block footer_page %}
  <script type="text/javascript">

    let id = -1
    let swarm_id = -1
    let disabled_by_role = ""
    function fillSelect(sensor, swarm_list){

      let options = `<option value="">NONE</option>`
      for (var item of swarm_list) {
        let selected = ""
        if(sensor.swarm && sensor.swarm.id == item.id)
          selected = "selected"
        const template = `<option ${selected} value="${item.id}">${item.name}</option>`;
        options = options + template
      }
      const select_template = `<select ${disabled_by_role} class="custom-select select-swarm">` + options + `</select>`;
      return select_template
    }


    function fillTable(data, swarm_list){
      for (var item of data) {
        const select_item = fillSelect(item, swarm_list)
        const table_template = `<tr> \
          <th scope="row">${item.device_id}</th> \
          <td>${item.serial_num}</td>  \
          <td>${item.model}</td>  \
          <td><div style="display:flex">
            ${select_item}
            <button ${disabled_by_role} type="button" data-toggle="modal" data-target="#confirm" data-uid="${item.id}" class="confirm btn btn-warning btn-sm"><i class="fa fa-save fa-fw"></i></button>
          </div></td> \
          <td class="text-right">  \
            <a class="btn btn-success btn-sm" href="{% url 'ui-sensor-detail' %}?id=${item.id}" role="button"><i class="fa fa-info-circle fa-fw"></i></a> \
          </td>  \
        </tr>`;
        $(".table-sensor tbody").append(table_template)
      }
    }


    function bindEvents(){
      $('.confirm').unbind()
      $('.confirm').click(function(){
        const select = $(this).prev()
        id = $(this).data("uid");
        swarm_id = select.val()
        const sensor_name = $(this).closest('tr').children(':first').html()
        const swarm_name = select.children("option:selected").text()
        $('#sensor-selected').text(sensor_name)
        $('#swarm-selected').text(swarm_name)
      })
    }

    $(document).ready(function () {

      const token_access = CookieMgr.get('jwt_token');
      const jwt = JWTMgr.parse(token_access)
      if(jwt.role == "administrator"){

      }else{
        disabled_by_role = "disabled"
      }

      let swarm_list = []
      new Promise(function(resolve, reject) {
        // Get Swarm
        APIMgr.get_model_list("/api/swarm/", function(data){
          swarm_list = data
          resolve()
        })
      }).then( function(){
        // Get Sensor
        APIMgr.get_model_list("/api/sensor/", function(data){
          fillTable(data, swarm_list)
          bindEvents()
        })
      })

      // Save Company
      $('.btn-save').click( () => {
        const body = {
          swarm: swarm_id
        }
        APIMgr.update_model("/api/sensor/", id, body)
      });


    });

  </script>
{% endblock footer_page %}
