{% extends 'dronetrap/base.html' %}
{% load static %}

{% block header_page %}

{% endblock header_page %}
  <style type="text/css">
    .modal-header{
      background-color:#333;
      color:#fff;
    }
  </style>
{% block content %}
<!-- See: https://bootsnipp.com/snippets/K5yrx -->
<!-- See: https://www.tutorialrepublic.com/snippets/preview.php?topic=bootstrap&file=table-with-add-and-delete-row-feature -->
<div class="row fullheight" >
 <div class="offset-lg-1 col-lg-10">

   <div class="text-right">
     <button type="button" data-toggle="modal" data-target="#edit" data-uid="-1" class="btn create btn-info"><i class="fa fa-plus"></i> Add New</button>
   </div>

   <table class="table table-striped table-hover mt-2 table-sec2sky text-center table-swarm">
    <thead class="bg-secondary text-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Users</th>
        <th scope="col">Sensors</th>
        <th scope="col" class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
   </table>

   <div class="alert alert-danger d-none text-center">
     <strong>Failed!</strong> Your request has failed
   </div>

  </div>
</div>

<div id="edit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-secondary">
        <h4 class="modal-title">Update</h4>
        <button type="button" class="create close close-button" data-dismiss="modal"><i class="fa fa-times fa-fw"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="input-name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input-name" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="input-description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input-description" placeholder="Description">
            </div>
          </div>
          <div class="form-group row">
            <label for="select-company" class="col-sm-2 col-form-label">Company</label>
            <div class="col-sm-10">
              <select class="custom-select" id="select-company">
                <option value="-1" selected>NONE</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="select-user" class="col-sm-2 col-form-label">UserSet</label>
            <div class="col-sm-10">
              <select class="custom-select select-user" multiple>
                <!-- <option value="" selected>NONE</option> -->
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="up" class="btn btn-info btn-save" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="delete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-secondary">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close close-button" data-dismiss="modal"><i class="fa fa-times fa-fw"></i></button>
      </div>
      <div class="modal-body">
        <strong>Are you sure you want to delete this data?</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-delete" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block footer_page %}
  <script type="text/javascript">
    let id = -1; // Stores the id to which the action is targeted
    const company_dict = {}
    const user_dict = {}

    function update_user_dict(company_id, user_list_detail){
      for (const user of user_list_detail) {
          user_dict[user.id] = {'username': user.username, 'company': company_id}
      }
    }

    function fillSelect(data){
      for (item of data) {
        const template = `<option value="${item.id}">${item.name}</option>`;
        $("#select-company").append(template)

        // Store data in internal variables
        company_dict[item.id] = item.user_list_detail
        update_user_dict(item.id, item.user_list_detail)
      }
    }

    function fillTable(data){

      for (item of data) {

        // Create String of username
        let sensor_list = ""
        for (user of item.sensor_list_detail)
          sensor_list = sensor_list + user.device_id + ", "
        sensor_list = sensor_list.slice(0, -1);
        let user_list = ""
        for (user of item.user_set){
          user_list = user_list + user_dict[user].username + ", "
        }

        // Select company if exists
        let companyid = -1
        if(user_dict[user] && user_dict[user].company)
          companyid = user_dict[user].company

        const table_template = `<tr>` +
          `<th scope="row">${item.id}</th>` +
          `<td>${item.name}</td>` +
          `<td>${item.description}</td>` +
          `<td data-companyid="${companyid}" data-userlist="${item.user_set}">${user_list}</td>` +
          `<td>${sensor_list}</td>` +
          `<td class="text-right">` +
            `<button type="button" data-toggle="modal" data-target="#edit" data-uid="${item.id}" class="update btn btn-warning btn-sm"><i class="fa fa-pencil-ruler fa-fw"></i></button>` +
            `<button type="button" data-toggle="modal" data-target="#delete" data-uid="${item.id}" class="delete btn btn-danger btn-sm"><i class="fa fa-times fa-fw"></i></button>` +
          `</td>` +
        `</tr>`;
        $(".table-swarm tbody").append(table_template)

      }

    }

    function userSetConfiguration(companyid){
      // $(".select-user").find('option').not(':first').remove();
      $(".select-user").find('option').remove();

      // If no company selected
      if(companyid == "-1") return

      // Fill user list
      const user_list = company_dict[companyid]
      for (const item of user_list) {
        const template = `<option value="${item.id}">${item.username}</option>`;
        $(".select-user").append(template)
      }

    }

    function bindEvents(){
      $('.create,.update,.delete').unbind()
      $('.create,.update,.delete').click( function(){
        id = $(this).data("uid");
      })
      $('.create').click( () => {
        $('.modal-title').text('Create')
      })
      $('.update').click( function(){
        $('.modal-title').text('Update')

        // Generate contents for update
        const row = $(this).closest('tr')
        const item_list = row.children()
        const item_name = item_list[1]
        const item_description = item_list[2]
        const item_users = item_list[3]
        $('#input-name').val($(item_name).text())
        $('#input-description').val($(item_description).text())
        const companyid = $(item_users).data('companyid')
        $('#select-company').val(companyid)
        userSetConfiguration(companyid)
      })

      $('#select-company').change( function(){
        userSetConfiguration($(this).val())
      })
    }

    $(document).ready(function () {

      new Promise(function(resolve, reject) {
        const token_access = CookieMgr.get('jwt_token');
        const jwt = JWTMgr.parse(token_access)
        if(jwt.role == "administrator"){
          // Get Company
          APIMgr.get_model_list("/api/company/", function(data){
            fillSelect(data)
            resolve()
          })
        }else{

          // Get Company
          APIMgr.get_model_list("/api/company/whoami/", function(data){
            update_user_dict(data.id, data.user_list_detail)
            resolve()
          })
        }


      }).then( function(){
        // Get Swarm
        APIMgr.get_model_list("/api/swarm/", function(data){
          fillTable(data)
          bindEvents()
        })
      })

      // Delete Swarm
      $('.btn-delete').click( () => {
        APIMgr.delete_model("/api/swarm/", id)
      });

      // Save Company
      $('.btn-save').click( () => {

        new Promise(function(resolve, reject) {
          const body = {
            name: $("#input-name").val(),
            description: $("#input-description").val()
          }

          if( id < 0 ){
            APIMgr.create_model("/api/swarm/", body, function(data, result){
              if( !result )
                return reject()
              id = data.id
              resolve()
            })
          }else{
            APIMgr.update_model("/api/swarm/", id, body, function(data, result){
              if( !result )
                return reject()
              resolve()
            })
          }
        }).then( function(){
          const select_user_array = $('.select-user').val()
          const user_set = []
          for (user of select_user_array) {
            user_set.push( parseInt(user) )
          }
          const body = {
            user_set: user_set
          }

          const jwt_token = CookieMgr.get('jwt_token');
          $.ajax({
            type: "POST",
            url: ("/api/swarm/" + id + "/user/"),
            headers: {
              "Authorization": ("Bearer " + jwt_token),
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(body),
            success: function(data){
                location.reload();
            },
            error: () => window.location = '/ui/',
            failure: () => window.location = '/ui/'
          })

        }).catch( function(){
                $('.alert-danger').removeClass('d-none')
        })



      });


    });
  </script>

{% endblock footer_page %}
