{% extends 'dronetrap/base.html' %}
{% load static %}

{% block header_page %}

{% endblock header_page %}
  <style type="text/css">
    .modal-header{
      background-color:#333;
      color:#fff;
    }
  </style>
{% block content %}
<!-- See: https://bootsnipp.com/snippets/K5yrx -->
<!-- See: https://www.tutorialrepublic.com/snippets/preview.php?topic=bootstrap&file=table-with-add-and-delete-row-feature -->
<div class="row fullheight" >
 <div class="offset-lg-1 col-lg-10">

   <div class="text-right">
     <button type="button" class="btn btn-info add-new text-right"><i class="fa fa-plus"></i> Add New</button>
   </div>

   <table class="table table-striped table-hover mt-2 table-sec2sky text-center table-swarm">
    <thead class="bg-secondary text-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Sensors</th>
        <th scope="col" class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    </table>

  </div>
</div>

<div id="edit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Data</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
           <input id="fn" type="text" class="form-control" name="fname" placeholder="First Name">
           <input id="ln" type="text" class="form-control" name="fname" placeholder="Last Name">
           <input id="mn" type="text" class="form-control" name="fname" placeholder="Middle Name">
      </div>
      <div class="modal-footer">
        <button type="button" id="up" class="btn btn-warning" data-dismiss="modal">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="delete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Data</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <strong>Are you sure you want to delete this data?</strong>
      </div>
      <div class="modal-footer">
        <button type="button" id="del" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block footer_page %}
  <script type="text/javascript">

    function fillTable(data){
      const table_template = `<tr>` +
        `<th scope="row">__id__</th>` +
        `<td>__name__</td>` +
        `<td>__description__</td>` +
        `<td>__sensor_list__</td>` +
        `<td class="text-right">` +
          `<button type="button" data-toggle="modal" data-target="#edit" data-uid="__id__" class="delete btn btn-warning btn-sm"><i class="fa fa-pencil-ruler fa-fw"></i></button>` +
          `<button type="button" data-toggle="modal" data-target="#delete" data-uid="__id__" class="delete btn btn-danger btn-sm"><i class="fa fa-times fa-fw"></i></button>` +
        `</td>` +
      `</tr>`;


      for (item of data) {
        let table_template_local = table_template;

        // Create String of username
        let sensor_list = ""
        for (user of item.sensor_list_detail)
          sensor_list = sensor_list + user.device_id + ", "
        sensor_list = sensor_list.slice(0, -1);

        table_template_local = table_template_local.replace(/__id__/g, item.id)
        table_template_local = table_template_local.replace(/__name__/g, item.name)
        table_template_local = table_template_local.replace(/__description__/g, item.description)
        table_template_local = table_template_local.replace(/__sensor_list__/g, sensor_list)
        $(".table-swarm tbody").append(table_template_local)
      }

    }

    $(document).ready(function () {

      // Retreive companies
      const jwt_token = CookieMgr.get('jwt_token');
      $.ajax({
        type: "GET",
        url: "/api/swarm/",
        headers: {
          "Authorization": ("Bearer " + jwt_token),
        },
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
          fillTable(data)
        },
        error: () => alert("General Error"),
        failure: () => alert("General Error")
      })

    });
  </script>

{% endblock footer_page %}
