/* Global Styles */

/* ------------------------------- */

 body {
    background-color: #f8f8f8;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-danger{
    background-color: #d9534f !important;
}

.bg-primary{
    background-color: #253238;
}

.text-primary{
    color: #253238;
}

.fullheight {
    min-height:100%;
    
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink{
    0%{opacity:0.75;}
    50%{opacity:1;}
    100%{opacity:0.75;}
}

#side-menu li{
    background-color: #253238;
}
#side-menu a{
    color:#ddd;
}


/* Wrappers */

/* ------------------------------- */

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0px;
        bottom: 0;
        top:0;
        border-left: 1px solid #e7e7e7;
    }
    #page-wrapper-full{
        position: inherit;
        margin: 0 0 0 50px;
    }
}

.navbar-static-side ul li {
    border-bottom: 1px solid #444;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

.topnav {
    background-color: #428bca;
}

#alert-label {
    font-size: 18px;
}

@media (max-width: 767){
    #alert-label {font-size:14px;}
}

.navbar-header a{
    color:#fff;
}

.navbar-top-links a{
    color:#fff;
}

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.navbar-top-links{
    text-transform: uppercase;
}
.brand img{
    max-width: 200px;
    padding-top: 10px;
    padding-left: 40px;
    display: inline;
}
.navbar-infobox {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

/* Sidebar Menu Styles */

 .sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
/********************************************+++
 NAVBAR Alert Page
*/
.navbar-alert {
    background: #696969;
    color:#DDD;
    font-size: 14px;
    font-weight: 100;
}

.navbar-alert .detail{
    font-weight: 600;
    font-size: 16px;
}
.navbar-alert-table tbody tr td, .navbar-alert-table thead tr td {
    padding: 8px;
    border: 0px;
}


.iconbutton img{
    height:100%; 
    width:100%;
}
/* Buttons */

/* ------------------------------- */

 .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */

/* ------------------------------- */

/* Alert Detail */

#maprow {
    padding:0px;
}

/* ------------------------------- */

/* Dashboard Chat */

 .chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

/* Login Page */

 .login-panel {
    margin-top: 25%;
}

/* Flot Chart Containers */

 .flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

 table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */

 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

/*** MAPS Settings ******/
div#map_trail {
    position: relative;
        min-height:100%;
    background: #fff;
    border-radius: 5px;
}
#map_canvas_container {position: relative;}
#map_canvas {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}

#map_details {
    bottom: 15px;
    right: 0;
    background: #333;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    max-width: 450px;
    height: 134px;
    border-bottom-left-radius: 3px;
}
#map_details, #map_details div {
    position: absolute;
    color: #fff;
}

#map_details-but {

    position: absolute;
    bottom: 15px;
    right: 0;
    border-top-left-radius: 3px;
    cursor: pointer;
    padding: 3.2px;
    padding: .2rem;
    background: #333;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

}

#map_details #el-max {
    left:0;
    top:11px;
    width:48px;
    text-align:right;
    z-index:2;
}

#map_details #el-min {
    left:0;
    top:70px;
    width:48px;
    text-align:right;
    z-index:2;
}
.hide-button {
    top: -2px;
    z-index: 1;
    padding: 3.2px;
    padding: .2rem;
    border-top-left-radius: 3px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#map_data-chart {
    right: 0;
    top: 20px;
    vertical-align: top!important;
    width: 100%;
    max-width: 400px;
    height: 80px;
}
.map_svg-wrapper {

    position: relative !important;
    width: 100%;
    max-width: 400px;
    height: 80px;

}

#elevation-profile-dot {
    z-index: 2;
}

#elevation-profile-dot, #elevation-profile-svg {
    position: absolute;
    top: 0;
    left: 0;
}


#elevation-profile {
    bottom: 15px;
    right: 0;
    background: #333;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    max-width: 450px;
    height: 124px;
    border-bottom-left-radius: 3px
}

#elevation-profile,#elevation-profile div {
    position: absolute;
    color: #fff
}

#elevation-profile #el-max,#elevation-profile #el-min {
    left: 0;
    top: 11px;
    width: 48px;
    text-align: right;
    z-index: 2
}

#elevation-profile #el-min {
    top: 78px
}

#elevation-profile div.el-len {
    bottom: 3px
}

#elevation-profile #el-len1 {
    left: 50px
}

#elevation-profile #el-len2 {
    left: 140px
}

#elevation-profile #el-len3 {
    left: 240px
}

#elevation-profile #el-len4 {
    left: 340px
}

#elevation-profile #el-len5 {
    right: 10px
}

.el-button {
    top: -2px;
    z-index: 1;
    padding: 3.2px;
    padding: .2rem;
    border-top-left-radius: 3px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
}

.el-button:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    cursor: pointer
}

#elevation-profile-but {
    position: absolute;
    bottom: 15px;
    right: 0;
    border-top-left-radius: 3px;
    cursor: pointer;
    padding: 3.2px;
    padding: .2rem;
    background: #333;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
}

#elevation-chart {
    right: 0;
    top: 20px;
    vertical-align: top!important;
    width: 100%;
    max-width: 400px;
    height: 80px
}

#pos-marker-current-pos {
    top: 80px
}

#pos-marker-current-alt,#pos-marker-current-pos {
    color: #fff;
    background-color: #008fe8;
    padding: 1px 2px;
    z-index: 3000;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    display: none;
    font-size: 12px
}

#pos-marker-current-alt {
    top: -20px
}

#pos-marker,#position-dot {
    display: none
}

#pos-marker {
    border-left: 1px solid hsla(0,0%,100%,.6);
    height: 100%;
    z-index: 1
}

.svg-wrapper {
    position: relative!important;
    width: 100%;
    max-width: 400px;
    height: 80px
}

#elevation-profile-dot,#elevation-profile-svg {
    position: absolute;
    top: 0;
    left: 0
}

#elevation-profile-dot {
    z-index: 2
}